apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: fib-wegoto-cloud-tls
spec:
  secretName: fib-wegoto-cloud
  isserRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: wegoto.cloud
  dnsName:
    - wegoto.cloud
    - www.wegoto.cloud
  acme:
    config:
      - http01:
          ingressClass: nginx
        domains:
          - wegoto.cloud
          - www.wegoto.cloud
